@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

#kc-locale-dropdown a {
	color: #fff !important;
}

.kcInputClass {
	height: 36px !important;
	border-radius: 5px;
	border: 1px solid #707070;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#kc-form-buttons {
	margin-top: 0px;
}

.login-pf-page .login-pf-header h1 {
	text-align: left !important;
	font-size: 20px;
	margin-top: 10px;
}

.login-pf-page .login-pf-header {
	margin-bottom: 10px;
}

.login-pf-page .login-pf-signup{
	margin: 0;
}

.btn-primary {
	height: 40px !important;
	background-color: #0D3077 !important;
	border-radius: 10px !important;
	background-image: none !important;
}

.my-root-class body {
	background: url(./assets/mosip_keycloakbg.png) no-repeat center center fixed;
	height: 180%;
	background-size: cover;
}



a {
	color: #0D3077 !important;
    text-decoration: none !important;
}

.login-pf-page .card-pf {
	padding: 20px 25px 20px 25px;
	width: 550px;
}

.login-pf-page .card-pf p{
	color: #3D4468;
}

.g-recaptcha {
    transform: scale(1.08);
    margin-left: 17px;
}

.kcButtonClass:disabled{
	background-color: #A5A5A5 !important;
	color: #ffffff !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/*
.g-recaptcha > * {
    float: right;
    right: 0;
}*/

.g-recaptcha::after{
    width: 400px !important;
} 

@media (max-width: 840px) {
    .login-pf-page .card-pf {
        max-width: 500px;
	}
}

@media (max-width: 767px) {
	.login-pf-page .card-pf {
	   margin: 0 10px 0 10px;
	}
	#kc-locale {
		top: 40px;
	}
}

@media (max-width: 767px) {
    #kc-info-wrapper {
		padding-top: 0;
	}
}