@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

#kc-locale-dropdown a {
	color: #fff !important;
}

.kcInputClass {
	height: 36px !important;
	border-radius: 5px;
	border: 1px solid #707070;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#kc-form-buttons {
	margin-top: 0px;
}

.login-pf-page .login-pf-header h2 {
	font-size: 24px;
	margin-top: 10px;
}

.login-pf-page .login-pf-header {
	margin-bottom: 10px;
}

.login-pf-page .login-pf-signup{
	margin: 0;
}

.login-pf-page{
	min-height: 95vh;
	height: auto;
}

.btn-primary {
	height: 40px !important;
	background-color: #0D3077 !important;
	border-radius: 10px !important;
	background-image: none !important;
}

.my-root-class body {
	background: url(./assets/mosip_keycloakbg.jpg) no-repeat center center fixed;
	height: auto;
	min-height: 100%;
	background-size: cover;
}

#kc-info{
	padding-bottom: 0; 
    margin-bottom: 0;
}

#kc-error-message a{
	color: #ffffff !important;
}

#storybook-root{
	min-height: 95vh;
	height: auto;
}

.lang-dropDown {
	position: absolute;
	margin-top: 20px;
}

a {
	color: #0D3077 !important;
    text-decoration: none !important;
}

a#kc-current-locale-link::after{
	content: none;
}

#kc-locale-dropdown a{
	font-weight: 500;
}

#kc-locale div span a{
  font-weight: 600;
  color: #505050 !important;
  font-size: 12px;
}

#kc-locale-dropdown a{
	padding: 0;
}

.info-a-link a{
	color: #ffffff !important;
}

.login-pf-page .card-pf {
	padding: 20px 25px 20px 25px;
	min-width: 550px;
    max-width: 632px;
}

.login-pf-page .card-pf p{
	color: #3D4468;
}

.g-recaptcha {
    transform: scale(1.08);
    margin-left: 20px;
	margin-right: 20px;
}

.kcButtonClass:disabled{
	background-color: #A5A5A5 !important;
	color: #ffffff !important;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */

/*
.g-recaptcha > * {
    float: right;
    right: 0;
}*/

select {
    font-size: 1.2rem;
	color: #031640;
}

select > option{
	font-size: 1.5rem;
}

.g-recaptcha::after{
    width: 400px !important;
} 

@media (max-width: 840px) {
    .login-pf-page .card-pf {
        width: 500px;
		min-width: auto;
	}
}

@media (max-width: 767px) {
	.login-pf-page .card-pf {
	   margin: 0 10px 0 10px;
	}
	#kc-locale {
		top: 0;
		width: auto;
		position: relative;
	}
}

@media (max-width: 767px) {
    #kc-info-wrapper {
		padding-top: 0;
	}
}